<h1>EDA (DESCRIBING DATASET AND FINDING CORRELATION)</h1>
<h3>Re-applied RFA on Removed One Value of the Pair of Correlated Values</h3>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

data = pd.read_csv('BOW_dataset_v1.csv', encoding='utf-8')
data = data.drop(columns=['Unnamed: 0'])
data.head()

,(binomial),(d),(d)+(d)+(d)+,(d)cm,(d)m,(d)n,(d)nd,(d)rd,(d)s_(d),(d)st,...,would,write,x,yaya,year,yearly,years,zero,zeros,ML_class
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,series_and_sequence
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,series_and_sequence
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,series_and_sequence
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,series_and_sequence
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,series_and_sequence

In [2]:
data.shape

(954, 895)

In [3]:
data.describe()

,(binomial),(d),(d)+(d)+(d)+,(d)cm,(d)m,(d)n,(d)nd,(d)rd,(d)s_(d),(d)st,...,worth,would,write,x,yaya,year,yearly,years,zero,zeros
count,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000,...,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000
mean,0.020964,0.047170,0.004193,0.003145,0.003145,0.001048,0.001048,0.004193,0.003145,0.006289,...,0.002096,0.007338,0.015723,0.001048,0.002096,0.004193,0.004193,0.007338,0.018868,0.027254
std,0.143340,0.276535,0.064650,0.097129,0.097129,0.032376,0.032376,0.064650,0.056018,0.079097,...,0.064752,0.107185,0.124468,0.032376,0.045763,0.079236,0.064650,0.085389,0.136130,0.162907
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,3.000000,1.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,2.000000,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000

In [4]:
data.columns

Index(['(binomial)', '(d)', '(d)+(d)+(d)+', '(d)cm', '(d)m', '(d)n', '(d)nd',
       '(d)rd', '(d)s_(d)', '(d)st',
       ...
       'would', 'write', 'x', 'yaya', 'year', 'yearly', 'years', 'zero',
       'zeros', 'ML_class'],
      dtype='object', length=895)

In [5]:
data.nunique()

(binomial)      2
(d)             4
(d)+(d)+(d)+    2
(d)cm           2
(d)m            2
               ..
yearly          2
years           2
zero            2
zeros           2
ML_class        3
Length: 895, dtype: int64

In [6]:
correlation = data.corr().abs()
correlation

,(binomial),(d),(d)+(d)+(d)+,(d)cm,(d)m,(d)n,(d)nd,(d)rd,(d)s_(d),(d)st,...,worth,would,write,x,yaya,year,yearly,years,zero,zeros
(binomial),1.000000,0.024974,0.009495,0.004740,0.004740,0.004740,0.004740,0.009495,0.008219,0.011642,...,0.004740,0.010023,0.018495,0.004740,0.006707,0.007747,0.009495,0.012581,0.020293,0.024494
(d),0.024974,1.000000,0.011074,0.005528,0.005528,0.005528,0.005528,0.047619,0.009585,0.082369,...,0.005528,0.011689,0.021570,0.005528,0.007822,0.009036,0.011074,0.014673,0.023667,0.028566
(d)+(d)+(d)+,0.009495,0.011074,1.000000,0.002102,0.002102,0.002102,0.002102,0.004211,0.003645,0.005162,...,0.002102,0.004444,0.008201,0.002102,0.002974,0.003435,0.004211,0.005579,0.008998,0.010861
(d)cm,0.004740,0.005528,0.002102,1.000000,0.001049,0.001049,0.001049,0.002102,0.001819,0.002577,...,0.001049,0.002219,0.004094,0.001049,0.001485,0.001715,0.002102,0.002785,0.004492,0.005422
(d)m,0.004740,0.005528,0.002102,0.001049,1.000000,0.001049,0.001049,0.002102,0.001819,0.002577,...,0.001049,0.002219,0.004094,0.001049,0.001485,0.001715,0.002102,0.002785,0.004492,0.005422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
year,0.007747,0.009036,0.003435,0.001715,0.001715,0.001715,0.001715,0.003435,0.002974,0.004212,...,0.001715,0.003626,0.006692,0.001715,0.002427,1.000000,0.406244,0.615806,0.007342,0.008862
yearly,0.009495,0.011074,0.004211,0.002102,0.002102,0.002102,0.002102,0.004211,0.003645,0.005162,...,0.002102,0.004444,0.008201,0.002102,0.706364,0.406244,1.000000,0.754734,0.008998,0.010861
years,0.012581,0.014673,0.005579,0.002785,0.002785,0.002785,0.002785,0.005579,0.004829,0.006840,...,0.002785,0.005889,0.010866,0.002785,0.533117,0.615806,0.754734,1.000000,0.011923,0.014391
zero,0.020293,0.023667,0.008998,0.004492,0.004492,0.004492,0.004492,0.008998,0.007789,0.011032,...,0.004492,0.009498,0.017527,0.004492,0.006356,0.007342,0.008998,0.011923,1.000000,0.449954
zeros,0.024494,0.028566,0.010861,0.005422,0.005422,0.005422,0.005422,0.010861,0.009401,0.013316,...,0.005422,0.011465,0.021156,0.005422,0.007672,0.008862,0.010861,0.014391,0.449954,1.000000

In [7]:
def high_corr(df):
    dataset = pd.DataFrame(columns = ['pair1', 'pair2', 'corr_value'])
    for i in range(len(df)):
        for k in range(i):
            val = df.iloc[i,k]
            if (val >= 0.7):
                dataset = dataset.append({'pair1': df.index[i], 'pair2': df.columns[k], 'corr_value': df.iloc[i,k]}, ignore_index=True)
#                 print(df.index[i]," and " ,df.columns[k], " corr value: ",  df.iloc[i,k])
    return dataset

print("High Correlation Pairs")
hi_corr_table = high_corr(correlation)
# hi_corr_table.to_csv('high_corr_pair.csv')
hi_corr_table

High Correlation Pairs

,pair1,pair2,corr_value
0,(l),(h),1.000000
1,(polynomial),(binomial),1.000000
2,(w),(h),1.000000
3,(w),(l),1.000000
4,add(mul(integer((d))pow(symbol(x)integer((d)))...,add(mul(integer((d))pow(pow(symbol(x)integer((...,1.000000
...,...,...,...
1097,years,salary,0.800727
1098,years,yearly,0.754734
1099,zero,indicate,0.706665
1100,zeros,f(x),0.870697
1101,zeros,function,1.000000

In [8]:
drop_cols = hi_corr_table.pair1.unique()

In [9]:
# correlation.to_excel('correlation.xlsx')

In [10]:
new_data = data
new_data = new_data.drop(columns=drop_cols)

remove_words = pd.DataFrame(drop_cols, columns = ['remove_words'])

# new_data.to_excel('dataset_v2.xlsx')
new_data.shape

(954, 574)

In [11]:
corrv2 = new_data.corr().abs()
# corrv2.to_excel('check_corr.xlsx')
corrv2

,(binomial),(d),(d)+(d)+(d)+,(d)cm,(d)m,(d)n,(d)nd,(d)rd,(d)s_(d),(d)st,...,using,value,variable,variables,way,whati,whether,whose,write,x
(binomial),1.000000,0.024974,0.009495,0.004740,0.004740,0.004740,0.004740,0.009495,0.008219,0.011642,...,0.036888,0.022483,0.004740,0.008219,0.004740,0.004740,0.022483,0.017200,0.018495,0.004740
(d),0.024974,1.000000,0.011074,0.005528,0.005528,0.005528,0.005528,0.047619,0.009585,0.082369,...,0.043021,0.000953,0.005528,0.009585,0.005528,0.005528,0.026221,0.020059,0.021570,0.005528
(d)+(d)+(d)+,0.009495,0.011074,1.000000,0.002102,0.002102,0.002102,0.002102,0.004211,0.003645,0.005162,...,0.016357,0.009969,0.002102,0.003645,0.002102,0.002102,0.009969,0.007627,0.008201,0.002102
(d)cm,0.004740,0.005528,0.002102,1.000000,0.001049,0.001049,0.001049,0.002102,0.001819,0.002577,...,0.008166,0.004977,0.001049,0.001819,0.001049,0.001049,0.004977,0.003807,0.004094,0.001049
(d)m,0.004740,0.005528,0.002102,0.001049,1.000000,0.001049,0.001049,0.002102,0.001819,0.002577,...,0.008166,0.004977,0.001049,0.001819,0.001049,0.001049,0.004977,0.003807,0.004094,0.001049
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
whati,0.004740,0.005528,0.002102,0.001049,0.001049,0.001049,0.001049,0.002102,0.001819,0.002577,...,0.008166,0.004977,0.001049,0.001819,0.001049,1.000000,0.004977,0.003807,0.004094,0.001049
whether,0.022483,0.026221,0.009969,0.004977,0.004977,0.004977,0.004977,0.009969,0.008629,0.012223,...,0.038730,0.023605,0.004977,0.008629,0.004977,0.004977,1.000000,0.018058,0.019419,0.004977
whose,0.017200,0.020059,0.007627,0.003807,0.003807,0.003807,0.003807,0.007627,0.006602,0.009351,...,0.029629,0.018058,0.003807,0.006602,0.003807,0.003807,0.018058,1.000000,0.014856,0.003807
write,0.018495,0.021570,0.008201,0.004094,0.004094,0.004094,0.004094,0.008201,0.007099,0.010055,...,0.031861,0.019419,0.004094,0.007099,0.004094,0.004094,0.019419,0.014856,1.000000,0.004094
x,0.004740,0.005528,0.002102,0.001049,0.001049,0.001049,0.001049,0.002102,0.001819,0.002577,...,0.008166,0.004977,0.001049,0.001819,0.001049,0.001049,0.004977,0.003807,0.004094,1.000000

In [12]:
# remove_words.to_csv('remove_words_v1.csv')

In [13]:
new_data.to_csv('BOW_dataset_v2.csv', encoding='utf-8')
new_data

,(binomial),(d),(d)+(d)+(d)+,(d)cm,(d)m,(d)n,(d)nd,(d)rd,(d)s_(d),(d)st,...,value,variable,variables,way,whati,whether,whose,write,x,ML_class
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,series_and_sequence
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,series_and_sequence
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,series_and_sequence
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,series_and_sequence
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,series_and_sequence
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
949,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,polynomial_equation
950,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,polynomial_equation
951,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,polynomial_equation
952,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,polynomial_equation
953,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,polynomial_equation

In [14]:
X = new_data.iloc[:,:len(new_data.columns)-1]
X

,(binomial),(d),(d)+(d)+(d)+,(d)cm,(d)m,(d)n,(d)nd,(d)rd,(d)s_(d),(d)st,...,using,value,variable,variables,way,whati,whether,whose,write,x
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
949,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
950,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
951,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
952,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
953,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
y = new_data.iloc[:,len(new_data.columns)-1]
y

0      series_and_sequence
1      series_and_sequence
2      series_and_sequence
3      series_and_sequence
4      series_and_sequence
              ...
949    polynomial_equation
950    polynomial_equation
951    polynomial_equation
952    polynomial_equation
953    polynomial_equation
Name: ML_class, Length: 954, dtype: object

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.25, random_state= 42)

In [17]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators=100,random_state = 42)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

In [18]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[78  3  0]
 [ 9 75  0]
 [ 1  1 72]]
                     precision    recall  f1-score   support

polynomial_equation       0.89      0.96      0.92        81
        polynomials       0.95      0.89      0.92        84
series_and_sequence       1.00      0.97      0.99        74

           accuracy                           0.94       239
          macro avg       0.95      0.94      0.94       239
       weighted avg       0.94      0.94      0.94       239

In [19]:
accuracy_score(y_test, y_pred)

0.9414225941422594